#bg{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
    height: 100%;
    opacity: 0.5;
}

#credit{
    z-index: 1;
    position: absolute;
    width: 300px;
    left: calc(50% - 150px);
    text-align: center;
    bottom: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #00000050;
    color: white !important;
    border-radius: 999px;
    user-select: none;
}

a:any-link{
    color: inherit;
    text-decoration: underline;
}

#msg{
    position: absolute;
    top: 128px;
    left: 10vw;
    right: 10vw;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    background: #222222c8;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 6px;
    margin-left: -10px;
    margin-right: -10px;
}

.hed{
    font-size: 80px;
}

.toe{
    font-size: 20px;
}

.buttonhome{
    display: inline-block;
    font-size: 15px;
    background: #009cde;
    color: white;
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left:  10px;
    text-decoration: none !important;
    transition: 0.2s filter ease; 
}

.buttonelse{
    display: inline-block;
    font-size: 15px;
    background: #ff9b00;
    color: white;
    border-radius: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left:  10px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none !important;
    transition: 0.2s filter ease; 
}

.buttonelse:hover, .buttonhome:hover{
    /* border-radius: 24px; */
    filter: brightness(0.8);
}
