body{
    background: #111;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.statera{
    display: flex;

    height: 190cm;

    position: top;
}


.statera_2_electricboogaloo{
    display: none;
    visibility: hidden;
    opacity: 0;

    height: 165cm;

    position: bottom;
}

#bork{
    background: #212121;
    border-radius: 36px;
}

h1{
    /* color: #009cde; */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    font-weight: 100;
}

h2{
    color: #009cde;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    font-weight: 100;
}

a{
    color: inherit
}

.titanic{
    display: float;
    /* fix later */
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.icon{
    animation: heartbeat 1s infinite;
}

.the_other_eye{
    color: #42c6ff;
}