body{
    background: #111;
}

#header{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 56px;
    background: linear-gradient(#444,#333);
    user-select: none;
    z-index: 20;
    box-shadow: 0px 11px 35px -2px rgba(0,0,0,0.35);
}

#hamborger{
    position: absolute;
    line-height: 56px;
    padding-left: 24px;
    font-size: 32px;
    color: white;
    z-index: 30;
}

#hlogo{
    height: 56px;
    width: auto;
}

#leftwrapper{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 400px;
    left: 0px;
    overflow: auto;
    background: #212121;
    z-index: 10;
}

#contentLeft{
    position: absolute;
    top: 56px;
    bottom: 80px;
    width: 100%;
    left: 0px;
    overflow: auto;
}

#cstatus{
    position: absolute;
    bottom: 0px;
    height: 80px;
    line-height: 92px;
    width: 100%;
    left: 0px;
    background: rgba(1,1,1,0.2);
    overflow: hidden;
    justify-content: center;
    user-select: none;
}

.cheader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif;
    /* display: block; */
    color: #ededed;
}

.sep{
    color: white;
    padding-left: 6px;
    padding-right: 6px;
}

.closed{
    color: red !important;
}

.open{
    color: lime !important;
}

#ctitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif;
    position: absolute;
    user-select: none;
    font-size: 18px;
    bottom: 58px;
    left: 4px;
    color: white;
    z-index: 2;
}

#featurespot{
    text-align: center;
}

.nosaveimg{
    user-select: none;
}

#artfeature{
    width: 100%;
    height: auto;
}

.featuretitle{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif;
    user-select: none;
    font-weight: 600;
    padding-top: 4px;
}

.artistname, .artname{
    opacity: 0.6;
    font-weight: 300;
}

.someheader{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif;
    user-select: none;
    padding-left: 12px;
    font-size: 26px;
    display: block;
    left: 0px;
    right: 0px;
    background: linear-gradient(to right,transparent,rgba(0,0,0,0.2),transparent);
}

a{
    text-decoration: none;
}

.somelink{
    padding-left: 16px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif;
    user-select: none;
    display: block;
    /* padding-top: 2px;
    padding-bottom: 2px; */
    transition: 0.2s padding-left ease, 0.2s background ease;
}

.somelink:hover{
    padding-left: 22px;
    background: rgba(255,255,255,0.05);
}

.twitter{
    color: #1da1f2;
}

.telegram{
    color: #0088cc;
}

.telegramgroup{
    color: #c99d27;
}

.spotify{
    color: #1db954;
}

.reddit{
    color: #ff4500;
}

.steam{
    color: white;
}

.github{
    color: #6cc644;
}

.furaffinity{
    color: #faaf3a;
}

.paypal{
    color: #009cde;
}

.youtube{
    color: red;
}

.button{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0.1));
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.imgbutton{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    background: linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0.1));
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.header{
    font-size: 36px;
    user-select: none;
}

#shadow{
    z-index: 5;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    display: none;
}