#rightwrapper{
    position: absolute;
    /* background: red; */
    top: 56px;
    right: 0px;
    bottom: 0px;
    left: 400px;
    overflow: auto;
}

.card{
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 70%;
    max-width: 850px;
    display: block;
    /* border-radius: 4px; */
    background: rgba(255,255,255,0.2);
    box-shadow: 0px 0px 48px -12px rgba(0,0,0,0.75);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif;
}