#rightwrapper{
    position: absolute;
    /* background: red; */
    top: 56px;
    right: 0px;
    bottom: 0px;
    left: 400px;
    z-index: 0;
    overflow: auto;
}

.card{
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 70%;
    max-width: 800px;
    display: block;
    border-radius: 4px;
    background: #212121;
    box-shadow: 0px 0px 48px -12px rgba(0,0,0,0.75);
    color: #ededed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, ubuntu, sans-serif;
}